[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "personal/hugo-PaperMod"]
	path = personal/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "personal/themes/PaperMod"]
	path = personal/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
